@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');
html {
    background-color: rgba(122,191,191,0.5);
}

body {
    margin: 0 auto;
    background-color: #F2F2F2;
    color: #0D0D0D;
    box-sizing: border-box;
    width: 414px;
    position: relative;
    top: 150px;
}

header img {
    width: 100%;
    height: auto;
}

main {
    background-color:#FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

menu {
    display: flex;
    list-style: none;
    padding: 0px;
    width: 414px;
}

menu li{
    flex-grow: 1;
}

img {
    width: 100%;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #000000;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

h3 {
    font-size: 25px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;

}

button {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    color: #EB5428;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

nav {
    font-size: 16px;
    position: fixed;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    display: block;
    z-index: 1;
    width: 414px;
    height: 125px;
}

nav img {
    visibility: hidden;
    height: 1px;
}

nav ul {
    overflow: hidden;
    text-align: center;
    list-style: none;
    transition: max-height .1s ease-out;
}

nav li {
    background-color: #FFFFFF;
    position: relative;
    width: 414px;
    right: 40px;
    top: 40px;
}

nav li:first-of-type {
    position: absolute;
    background-color: #EB5428;
    color: #FFFFFF;
    height: 90px;
    width: 208px;
    top: 0px;
    right: 100px;
}

nav li:last-of-type {
    position: absolute;
    color: #000000;
    height: 90px;
    width: 100px;
    top: 0px;
    right: 0px;
}

nav h2 {
    visibility: hidden;
    height: 1px;

}

nav a {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #EB5428;
}

nav a:hover {
    background-color: #EB5428;
    color: #FFFFFF
}

nav span {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

nav input {
    display: none;
}

nav input:checked ~ ul {
    max-height: 1300px;
}

nav li:first-of-type {
    width: 208px;
    height: 90px;
    position: absolute;
    top: 0px;
    right: 103px;
    background-color:#EB5428;
    color: #FFF;
}

.ingredients li {
    list-style-type: square;
    padding: 5px;
}

.burger {
    top: 0;
    width: 103px;
    height: 90px;
    position: absolute;
    text-align: center;
}

.burger svg {
    position:relative;
    top: 10px;
    left: 25px;
    display: block;
    padding: 7px;
}

.home svg {
    position: relative;
    top: 10px;
    left: 70px;
    display: block;
}

.user svg {
    position: relative;
    display: block;
    top: 7px;
    left: 19px;
    padding: 7px;
}

aside {
    background-color: #7ABFBF;
    display: flex;
    flex-direction: column;
}

aside h2 {
    margin: 0px;
}

aside h3 {
    position: relative;
    display: inline;
}

aside p, dl {
    padding: 3px;
    margin: 0px;
}

aside dd {
    position: relative;
    right: 145px;
    top: 20px;
    padding-top: 5px;
    
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
}

ol {
    margin: 0px;
}

ol li{
    padding: 10px 0px;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#socials li {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}


#search {
    width: 414px;
    position: absolute;
    top: -88px;
    display: block;
}

#search h3 {
    visibility: hidden;
    height: 1px;
    margin: 0px;
}

#connect button{
    background-color: #FFFFFF;
}

#connect li {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

#connect button:hover {
    background-color:orange;
}

.star {
    position: relative;
    left: 140px;
    bottom: 75px;
}

.top {
    height: 150px;
}

.top img {
    width: 100px;
    display: block;
    position: relative;
    left: 20px;
    bottom: 7px;
}

form {
    width: 375px;
    padding: 35px 0px 15px 39px;
    background-color: #F2F2F2;
}

form button {
    color:#FFFFFF;
    width:50px;
    height: 50px;
    position:absolute;
    background-color:#EB5428;
    margin: 0px;
}

form svg {
    position: relative;
    right: 15px;
}

form input {
    width: 285px;
    height: 50px;
    background-color:#FFF;
    border-color:#EB5428;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

dl {
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    display: flex;
    flex-flow: row wrap;
    padding:10px;
}

dt {
    font-weight: 700;
    width: 100px;
    
}

dd {
    width: 200px;

}

.ing li {
    list-style-type: square;
    padding: 5px;
}

.copy {
    flex-direction: column-reverse;
    display: flex;
    padding:30px;
    
}

.copy img {
    position: relative;
    width: 50%;
    left: 85px;
    bottom: 20px;
}

.copy p {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    
}

figcaption {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

footer {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    background-color: #FFF;
    text-align: center;
}

footer h2, footer h3 {
    visibility: hidden;
    height: 1px;
    margin: 3px;
}

@media screen and (min-width:768px) {
    body {
        margin:0 auto;
        width:768px;
        position: relative;
        top: 188px;
    }

    header {
        height: 100px;
    }

    .head menu {
        width: 768px;
        position: relative;
        top: 6px;
    }

    .head button {
        background-color: rgba(255,255,255, .5);
        height: 100px;
        display: block;
    }

    h1 {
        text-align: left;
        padding-left: 15px;
    }


    form {
        padding: 25px 0px 0px 20px;
        margin: 0px;
        background-color: #FFF;
        width: 350px;
    }


    nav {
        position: fixed;
        top: 0px;
        width: 768px;
        height: 215px;
        background-color: #FFF;
    }

    aside h2 {
        padding: 10px;
    }
    
    nav h2 {
        margin: 0px;
    }

    nav ul {
        overflow: visible;
        margin: 0px;
        display: flex;
        width: 768px;
    }

    nav li {
        position: relative;
        top: 100px;
    }
    
    nav li:first-of-type {
        width: 100px;
        height: 90px;
        
    }

    nav img {
        visibility: visible;
        height: 70px;
        width: 70px;
    }

    .ing {
        flex: 1;
    }

    .flank {
        display: flex;
    }

    .flank h2 {
        margin-bottom: 0px;
    }

    .recipes {
        display: grid;
        grid-template-rows: 150px 150px;
        grid-template-columns: 378px 378px;
    }

    #search {
        position: absolute;
        top: 0px;
        left: 300px;
        z-index: 1;

    }

    .details {
        text-align: center;
    }

    .details h2 {
        margin-bottom: 0px;
    }

    .details dl{
        width: 260px;
        justify-content: center;
        margin-left: 240px;
    }

    .details dd {
        margin: 0px;
        width: 100px;
    }

    .details dd:nth-of-type(4n) {
        width:155px;
    }

    .directions {
        flex: 3;
    }

    .directions li {
        padding: 20px 15px;
    }

    .stay {
        position: fixed;
        top: 0px;
    }

    #connect {
        flex: 1;
    }

    #good {
        flex: 1;
    }
    
    .user {
        position: fixed;
        top: 0px;
        right: 0px;
    }

    .burger {
        visibility: hidden;
    }

    .home {
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .home svg {
        left: 15px;
    }

    .copy img {
        left: 70px;
    }  

    footer {
        display: flex;
        flex-direction: row-reverse;
    }
}

@media screen and (min-width:1280px) {
    body {
        margin:0 auto;
        width:1280px;
        position: relative;
        top: 188px;
    }

    .street-taco {
        width: 100%;
        grid-column: 1;
    }

    .street-taco p {
        grid-column:2;
    }

    .street-taco {
        display: grid;
        grid-template-rows: 600px;
        grid-template-columns: 417px 650px;
        width: 1100px;
        height: 600px;
        position: relative;   
        left: 100px;   
    }

    .recipes {
        justify-content: center;
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: 400px;
        grid-gap: 15px;
    }

    h1 {
        text-align: center;
    }

    .details {
        background-color: #000;
        color:#7ABFBF;
        height: 100px; 
    }

    .details dt {
        flex-basis: 50%;;        
    }

    .details dd {
        flex-basis: 50%;
        flex-grow: 1;
    }
    
    .details dl {
        display: flex;
        flex-flow: column wrap;
        padding:10px;
        height: 50px;
        width: 900px;
    }

    .top img {
        width: 250px;
        position: relative;
    }  

    .directions {
        flex: 4;
    }

    .directions li{
        padding: 10px;
    }
    

    .head {
        height: 100px;
    }

    .head menu {
        width: 100px;
        height: 625px;
        display: inline-flex;
        flex-direction: column;
        background-color: #FFF;
        margin: 0px;
    }

    .head button {
        background-color: #FFF;
        height: 100px;
        display: block;
    }

    .user {
        position: relative;
        top: 0px;
        right: 0px;
    }

    nav {
        width: 1280px;
        height: 100px;
        position: relative;
        grid-row: 1/2;
        grid-column: 1/3;
    }         

    nav ul {
        width: 1100px;
        grid-row: 1/2;
        grid-column: 2/3;
    }

    nav img {
        width: 60px;
        height: 60px;       
    }

    .stay {
        display: grid;
        width: 1280px;
        height: 220px;
        background-color: #F2F2F2;
        grid-template-columns: 100px auto 100px;
        grid-template-rows: 100px 100px;
        grid-gap: 15px;
    }

    nav li {
        position: relative;
        top: 0px;
        left: 160px;
        width: 100px;
        margin: 0px 12px;
    }

    nav li:last-of-type {
        position: relative;
        top: 0px;
        right: -45px;

    }

    #search {
        grid-row: 2;
        grid-column: 2/3; 
    }
    
    form {
        background-color: #F2F2F2;
    } 
    
    .star {
        position: relative;
        left: 25px;
        bottom: -40px;
    }

    aside dl{
        position: relative;
        top: 20px;
    }

    aside dd{
        position: relative;
        top: -25px;
        left: 20px;
    }   
 

}

